@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Desafio Xavier</h1>
    <p class="lead">Teste em Aspnet MVC 5 e EF</p>
    <p><a href="https://www.linkedin.com/in/tiago-xavier-698022172/" class="btn btn-primary btn-lg">Leia mais sobre mim&raquo;</a></p>
</div>
